{% extends 'base.html.twig' %}

{% block body %}
    <h1>New company stock</h1>

    {{ form_start(form) }}
        {#{{ form_widget(form) }}#}

        {{ form_label(form.price)  }}
        {{ form_errors(form.price) }}
        {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}

        {{ form_label(form.stockType)  }}
        {{ form_errors(form.stockType) }}
        {{ form_widget(form.stockType, {'attr': {'class': 'form-control'}}) }}

        {{ form_label(form.company)  }}
        {{ form_errors(form.company) }}
        {{ form_widget(form.company, {'attr': {'class': 'form-control'}}) }}

        {{ form_label(form.market)  }}
        {{ form_errors(form.market) }}
        {{ form_widget(form.market, {'attr': {'class': 'form-control'}}) }}

        <div class="action_buttons">
            <input class="btn btn-info"  type="submit" value="Create" />
            <a class="btn btn-danger" href="{{ path('homepage') }}">Cancel</a>
        </div>
    {{ form_end(form) }}
{% endblock %}
