{% extends 'base.html.twig' %}

{% block body %}
    <h1> Company stock overview </h1>

    <div class="row action_buttons">
        <div class="col-lg-12">
            <a class="btn btn-info"    href="{{ path('companystock_new') }}">Add stock</a>
            <a class="btn btn-warning" href="{{ path('homepage')         }}">Main panel</a>
        </div>
    </div>

    <div class="row">
        {% set responsive_style = 'col-lg-4 col-xs-12 col-sm-12 col-md-4' %}
        {% for stockCompanyAndType in stocksCompanyAndType %}
            <div class="{{ responsive_style }}">
                <div class="company-stock-overwiew-item container">
                    <div class="row info-stock stock-type-{{ stockCompanyAndType.stockType.id }}">
                        <div class="col-lg-12">{{ stockCompanyAndType.company.name }}</div>
                        <div class="col-lg-12">{{ stockCompanyAndType.stockType.name }}</div>
                    </div>

                    <div class="row info-markets">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                {% for stock in stockCompanyAndType.listStocks %}
                                    <tr>
                                        <td> {{ stock.market.name}}          </td>
                                        <td>
                                        <span class="badge stock-type-{{stockCompanyAndType.stockType.id}}">
                                            {{stock.price}} {{ currencySymbol }}
                                        </span>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
