{% extends 'base.html.twig' %}

{% block body %}

    <h1>Dashboard</h1>
    <div class="row">

        {% set responsive_style = 'col-lg-4 col-xs-12 col-sm-4 col-md-4' %}

        <a href="{{ path('companystock_new') }}">
            <div class="{{ responsive_style }}">
                <div class="bg-primary main-panel-option">
                    Add/edit company stock
                </div>
            </div>
        </a>

        <a href="{{ path('company_index') }}">
            <div class="{{ responsive_style }}">
                <div class="bg-success main-panel-option">
                    View companies
                </div>
            </div>
        </a>

        <a href="{{ path('company_new') }}">
            <div class="{{ responsive_style }}">
                <div class="bg-info main-panel-option">
                    Create a company
                </div>
            </div>
        </a>

        <a href="{{ path('highest_values') }}">
            <div class="{{ responsive_style }}">
                <div class="bg-warning main-panel-option">
                    Highest market prices
                </div>
            </div>
        </a>

        <a href="{{ path('market_index') }}">
            <div class="{{ responsive_style }}">
                <div class="bg-danger main-panel-option">
                    List markets
                </div>
            </div>
        </a>

        <a href="{{ path('companystock_overview') }}">
            <div class="{{ responsive_style }}">
                <div class="bg-primary main-panel-option">
                    Company stock overview
                </div>
            </div>
        </a>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
