body {
    background-color: #ecf0f5;
}

.stock-type-1 {
    background-color: #0073b7;
    color:white;
}

.stock-type-2 {
    background-color: #ff851b;
    color:white;
}

.info-market {
    color: white;
    margin-bottom: 20px;
    border-radius: 3px;
    padding: 20px;
}

.info-stock {
    /*color: white;*/
    margin-bottom: 20px;
    border-radius: 3px;
    padding: 15px;
}

.company-stock-overwiew-item {
    background-color: #fff;
    margin-bottom: 20px;
    width: 90%;
}

bold {
    font-weight:bold;
}

.main-panel-option {
    border: solid #000 1px;
    padding: 20px;
    font-size: 24px;
    text-align: center;
    margin:20px 0 20px 0;
}

.action_buttons{
    margin:20px 0 20px 0;
}