{% extends 'base.html.twig' %}

{% block body %}
    <h1>Markets list</h1>

    <div class="row action_buttons">
        <div class="col-lg-12">
            <a class="btn btn-info"    href="{{ path('companystock_new') }}">Add stock</a>
            <a class="btn btn-warning" href="{{ path('homepage')         }}">Main panel</a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for market in markets %}
                    <tr>
                        <td>{{ market.name }}</td>
                        <td>
                            <a class="btn btn-info" href="{{ path('market_show', { 'id': market.id }) }}">Show </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
