{% extends 'base.html.twig' %}

{% block body %}
    <h1>Highest Market prices</h1>

    <div class="row action_buttons">
        <div class="col-lg-12">
            <a class="btn btn-info"    href="{{ path('companystock_new') }}">Add stock</a>
            <a class="btn btn-warning" href="{{ path('homepage')         }}">Main panel</a>
        </div>
    </div>

    <div class="row">
        {% set responsive_style = 'col-lg-4 col-xs-12 col-sm-12 col-md-4' %}

        {% for marketInfo in maxValuesMarkets %}

            {% if marketInfo.maxPrice is not null  %}
                <div class="{{ responsive_style }}">
                    <div class="info-market stock-type-{{ marketInfo.maxPrice.stockType.id }}">
                        <div class="row">
                            <div class="col-lg-12"> {{ marketInfo.maxPrice.company   }} </div>
                            <div class="col-lg-12"> {{ marketInfo.maxPrice.stockType }} </div>
                            <div class="col-lg-12">
                                <bold>{{ marketInfo.maxPrice.price }} {{ currencySymbol}}</bold>
                            </div>
                            <hr/>
                            <div class="col-lg-12"> {{ marketInfo.market.name }} </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="{{ responsive_style }}">
                    <div class="info-market stock-type-1">
                        <div class="row">
                            <div class="col-lg-12"> There are no stock in this market </div>
                            <div class="col-lg-12"> -- </div>
                            <div class="col-lg-12"> -- </div>
                            <hr/>
                            <div class="col-lg-12"> {{ marketInfo.market.name }} </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}
