{% extends 'base.html.twig' %}

{% block body %}

    <h1>Market: {{ market.name }}</h1>

    <div class="row action_buttons">
        <div class="col-lg-12">
            <a class="btn btn-info"    href="{{ path('companystock_new') }}">Add stock       </a>
            <a class="btn btn-success" href="{{ path('market_index') }}">    Back to market list</a>
            <a class="btn btn-warning" href="{{ path('homepage')         }}">Main panel      </a>
        </div>
    </div>


    {% if companyStocks | length > 0 %}
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Company name</th>
                    <th>Stock type</th>
                    <th>Price entered date</th>
                    <th>Price entered time</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                    {% for companyStock in companyStocks %}
                        <tr>
                            <td> {{companyStock.company.name}}          </td>
                            <td> {{companyStock.stockType.name}}        </td>
                            <td> {{companyStock.created|date('Y-m-d')}} </td>
                            <td> {{companyStock.created|date('H:i')}}   </td>
                            <td>
                                <span class="badge stock-type-{{companyStock.stockType.id}}">
                                    {{companyStock.price}} {{ currencySymbol }}
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p> There is not stock in this market. (Add link here for add one)</p>
    {% endif %}

{% endblock %}
