{% extends 'base.html.twig' %}

{% block body %}
    <h1>List companies</h1>

    <div class="row action_buttons">
        <div class="col-lg-12">
            <a class="btn btn-info"    href="{{ path('company_new') }}">Add company</a>
            <a class="btn btn-warning" href="{{ path('homepage')         }}">Main panel</a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for company in companies %}
                    <tr>
                        <td>{{ company.name }}</td>
                        <td>{{ company.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
