{% extends 'base.html.twig' %}

{% block body %}
    <h1>New company</h1>

    {{ form_start(form) }}
        {{ form_label(form.name)  }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}

        {{ form_label(form.description)  }}
        {{ form_errors(form.description) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}

        <div class="row action_buttons">
            <div class="col-lg-12">
                <input class="btn btn-info" type="submit" value="Create" />
                <a class="btn btn-success"     href="{{ path('company_index') }}">Back to the list</a>
                <a class="btn btn-warning" href="{{ path('homepage')  }}">Main panel</a>
            </div>
        </div>
    {{ form_end(form) }}

{% endblock %}
